/*
Colors used (Body)
Primary Color (Blue): #222D53;
Secondary Color (dark gray): #1F1F1F;
Tertiary Color (light gray): #BEBEBE;

(text)
Primary text (very light gray): #D5D5D5;
Secondary text (white): #FFFFFF;
Tertiary text (black): #000000;

(hyper links buttons)
text (very light gray): #D5D5D5;
hover (light gold): #F7E095;
visited (light blue): #95EFF7;
active (lightgreen): #95F7AC;
*/
* body {
  background-color: #222D53;
  font-family: 'Arsenal', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #D5D5D5;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #D5D5D5;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #95EFF7;
}

a:hover,
a:focus {
  color: #F7E095;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #95F7AC;
}

.button {
  display: inline-block;
  background-color: #1F1F1F;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D5D5D5;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.75;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #95F7AC;
  color: #000000;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D5D5D5;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button.contact:hover {
  opacity: 0.9;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact:active {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #FFFFFF;
  color: #000000;
  /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D5D5D5;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

header {
  background-color: #1F1F1F;
  padding: 10px 0;

  border-bottom: 3px solid #4a4a4a;
  box-shadow: 4px 4px 11px 0px rgba(50, 50, 50, 0.95);
  position: fixed;
  width: 100%;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

nav {
  display: inline-block;
  width: 100%;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 20px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}

nav>ul>li>a:visited {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #F7E095;
}

nav>ul>li>a:hover {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #95EFF7;
}

nav>ul>li>a:visited {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #F7E095;
}

nav>ul>li>a:active {
  padding: 0 10px;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #95F7AC;
}

#hero {
  text-align: center;
  background-color: #1F1F1F;
  padding: 10px 0;
  display: inline-block;
  width: 100%
}

#mywork {
  text-align: center;
}

#mywork p {
  text-align: left;
}

main {
  padding-top: 230px;
}

#contact {
  text-align: center;
  background-color: #BEBEBE;
  padding: 10px 0;
  display: inline-block;
  width: 100%
}

#contact h2 {
  color: #000000;
}

#contact p {
  text-align: center;
  color: #000000;
}

#phonenumber {
  color: #0A7DE0;
}

#skypeid {
  color: #0A7DE0;
}

.behancelogo {
  width: 65px;
}

.linkedinlogo {
  max-width: 65px;
}

#about {
  text-align: center;
}

picture {
  max-width: 250;
}

#mystory {
  text-align: center;
}

#mystory p {
  text-align: left;
}

#skills {
  text-align: center;
}

#rskills {
  text-align: center;
}

#rskills ul {
  text-align: left;
}

#tools {
  text-align: center;
}

#tools ul {
  text-align: left;
}

#project {
  text-align: center;
}

#project h3 {
  text-align: left;
}

#project p {
  text-align: left;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 140px;
  }

  body {
    font-size: 16px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  h2 {
    text-align: center;
  }

  #about {
    text-align: center;
  }

  #sociallinks {
    display: inline-block;
    width: 100%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

.imgwrapper,
.deswrapper {
  padding: 10px;
}

@keyframes color-change {
  0% {
    fill: #FFF200;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 0px);
  }

  to {
    transform: translate(200px, 0px);
  }
}

.clouds {
  animation: 30s cloud-move infinite alternate linear;
}
