/*
Colors used (Body)
Primary Color (Blue): #222D53;
Secondary Color (dark gray): #1F1F1F;
Tertiary Color (light gray): #BEBEBE;

(text)
Primary text (very light gray): #D5D5D5;
Secondary text (white): #FFFFFF;
Tertiary text (black): #000000;

(hyper links buttons)
text (very light gray): #D5D5D5;
hover (light gold): #F7E095;
visited (light blue): #95EFF7;
active (lightgreen): #95F7AC;
*/

body {
  background-color: #222D53;
  font-family: 'Arsenal', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #D5D5D5;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #D5D5D5;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #95EFF7;
}
a:hover,
a:focus {
  color: #F7E095;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #95F7AC;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1F1F1F;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D5D5D5; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.75; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #95F7AC;
  color: #000000; /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D5D5D5; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #D5D5D5;
  text-transform: uppercase;
  border: 2px solid #D5D5D5;
}
.button.contact:hover {
  opacity: 0.9; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact:active {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #95F7AC;
  color: #000000; /* needed to override the default link color */
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D5D5D5; /* width of the border, type, color */
  transition: 0.2s opacity;
}
header {
  background-color: #1F1F1F;
  padding: 10px;
  margin: 10px 15px;
}
